.container {
    border: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100px;
    background-color: hsl(0, 0%, 80%);
    border-radius: 10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.input {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    border: 1px solid;
    border-color: hsl(0, 0%, 70%);
    border-radius: 10px;
    margin: 50px 15px;

}


.add {
    font-weight: bold;
    background-color: hsl(125, 47%, 54%);
    padding: 10px 24px;
    margin: 5px;
    border: 1px none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition-duration: 0.4s;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }


  .add:hover {
    transform: scale(1.2);
    background-color: hsl(125, 77%, 50%);
    box-shadow: 0 0 20px 2px hsl(125, 49%, 55%);
  }